@keyframes showUp {
  // from {
  //   transform: translateY(-125%);
  // }
  // to {
  //   transform: translateY(0%);
  // }

  0% {
    transform: translateY(-125%);
  }
  25% {
    transform: translateY(-75%);
  }
  40% {
    transform: translateY(-40%);
  }
  55% {
    transform: translateY(10%);
  }
  70% {
    transform: translateY(-8%);
  }
  85% {
    transform: translateY(5%);
  }
  100% {
    transform: translateY(0%);
  }
}

.show-up {
  animation: showUp $faster-time ease-in-out forwards;
}

@keyframes showLeft {
  from {
    transform: translateX(-125%);
    opacity: 0;
  }
  to {
    transform: translateX(0%);
    opacity: 1;
  }
}

.show-left {
  animation: showLeft $faster-time ease-out forwards;
  // animation: fadeInLeft $short-time forwards;
}

@keyframes showRight {
  from {
    transform: translateX(125%);
    opacity: 0;
  }
  to {
    transform: translateX(0%);
    opacity: 1;
  }
}

.show-right {
  animation: showRight $faster-time ease-out forwards;
}

@keyframes showDown {
  0% {
    transform: translateY(150%);
  }
  25% {
    transform: translateY(75%);
  }
  40% {
    transform: translateY(40%);
  }
  55% {
    transform: translateY(-15%);
  }
  70% {
    transform: translateY(8%);
  }
  85% {
    transform: translateY(-5%);
  }
  100% {
    transform: translateY(0%);
  }
}

.show-down {
  animation: showDown $faster-time ease-in-out forwards;
}

@keyframes anim_out {
  from {
    // transform: rotateX(0deg) scaleY(1);
    transform: rotateX(0deg);
    visibility: visible;
  }
  to {
    // transform: rotateX(-90deg) scaleY(0);
    transform: rotateX(105deg);
    visibility: hidden;
  }
}

@keyframes hanging {
  0% {
    transform: rotateX(-90deg);
  }
  15% {
    transform: rotateX(30deg);
  }
  25% {
    transform: rotateX(45deg);
  }
  35% {
    transform: rotateX(-10deg);
  }
  45% {
    transform: rotateX(-25deg);
  }
  55% {
    transform: rotateX(5deg);
  }
  65% {
    transform: rotateX(7deg);
  }
  75% {
    transform: rotateX(-5deg);
  }
  85% {
    transform: rotateX(3deg);
  }
  93% {
    transform: rotateX(-1deg);
  }
  100% {
    transform: rotateX(0deg);
  }
}

@keyframes dropFast {
  0% {
    transform: translateY(-100%);
    visibility: hidden;
  }
  25% {
    transform: translateY(-75%);
  }
  40% {
    transform: translateY(-40%);
  }
  55% {
    transform: translateY(15%);
  }
  70% {
    transform: translateY(-10%);
  }
  85% {
    transform: translateY(5%);
  }
  100% {
    transform: translateY(0%);
    visibility: visible;
  }
}

.drop-fast {
  animation: dropFast $short-time linear forwards;
}

// @keyframes skewY {
//   0% {
//     transform: skewY(-50deg) translateY(-125%);
//     visibility: hidden;
//   }
//   90% {
//     transform: skewY(-45deg) translateY(-10%);
//   }
//   100% {
//     transform: skewY(0deg) translateY(0%);
//     visibility: visible;
//   }
// }

@keyframes helloShow {
  0% {
    opacity: 0;
    transform: scale(0.5) translateY(-150px);
    -webkit-transform-origin: center bottom;
    transform-origin: center bottom;
  }

  15% {
    transform: translateY(-100px);
  }

  50% {
    transform: scale(1);
  }
  80% {
    transform: scale(1.5);
  }
  to {
    opacity: 1;
    transform: scale(1) translateY(0px);
  }
}

.hello {
  animation: helloShow $normal-time linear forwards;
}
