@mixin shadow($shadow-size, $shadow-blur, $shadow-color) {
  box-shadow: $shadow-size $shadow-size $shadow-blur $shadow-color,
    0px 0px $shadow-size lighten($shadow-color, 5%);
}

%track {
  width: $track-width;
  height: $track-height;
  cursor: pointer;
}

@mixin thumb {
  @include shadow($thumb-shadow-size, $thumb-shadow-blur, $thumb-shadow-color);
  border: $thumb-border-width solid $thumb-border-color;
  height: $thumb-height;
  width: $thumb-width !important;
  border-radius: $thumb-radius;
  background: $thumb-color;
  cursor: pointer;
}

input[type="range"] {
  -webkit-appearance: none;
  margin: $thumb-height/3 0;
  width: $track-width;

  &:focus {
    outline: none;
  }

  &::-webkit-slider-runnable-track {
    @extend %track;
    @include shadow(
      $track-shadow-size,
      $track-shadow-blur,
      $track-shadow-color
    );
    background: $track-color;
    border-radius: $track-radius;
    border: $track-border-width solid $track-border-color;
  }

  &::-webkit-slider-thumb {
    @include thumb;
    -webkit-appearance: none;
    margin-top: (
      ((-$track-border-width * 2 + $track-height) / 2) - ($thumb-height / 2)
    );
    margin-bottom: (
      ((-$track-border-width * 2 + $track-height) / 2) - ($thumb-height / 2)
    );
    margin-top: -6px;
    margin-bottom: -6px;
  }

  &:focus::-webkit-slider-runnable-track {
    background: lighten($track-color, $contrast);
  }

  &::-moz-range-track {
    @extend %track;
    @include shadow(
      $track-shadow-size,
      $track-shadow-blur,
      $track-shadow-color
    );
    background: $track-color;
    border-radius: $track-radius;
    border: $track-border-width solid $track-border-color;
  }
  &::-moz-range-thumb {
    @include thumb;
  }

  &::-ms-track {
    @extend %track;
    background: transparent;
    border-color: transparent;
    border-width: $thumb-width 0;
    color: transparent;
  }

  &::-ms-fill-lower {
    background: darken($track-color, $contrast);
    border: $track-border-width solid $track-border-color;
    border-radius: $track-radius * 2;
    @include shadow(
      $track-shadow-size,
      $track-shadow-blur,
      $track-shadow-color
    );
  }
  &::-ms-fill-upper {
    background: $track-color;
    border: $track-border-width solid $track-border-color;
    border-radius: $track-radius * 2;
    @include shadow(
      $track-shadow-size,
      $track-shadow-blur,
      $track-shadow-color
    );
  }
  &::-ms-thumb {
    @include thumb;
  }
  &:focus::-ms-fill-lower {
    background: $track-color;
  }
  &:focus::-ms-fill-upper {
    background: lighten($track-color, $contrast);
  }
}

.bubble {
  font-size: size("quite-normal");
  background-color: $bubble-bgr-color;
  color: $thumb-color;
  @include paddMrg("margin", "top", $bubble-radius * (-2));
  @include paddMrg("padding", $bubble-radius / 2, $bubble-radius * 2);
  position: absolute;
  border-radius: $bubble-radius;
  // left: 0%;
  // left: 6px;
  // left: 2.07%;
  display: inline-block;
  text-align: center;
  width: 32px;
  max-width: 32px;
  padding: 4px;
  // margin-left: 6px;
  // margin-left: 14px;

  &:after {
    display: inline-block;
    width: 0;
    height: 0;
    border-top-width: 4px;
    border-bottom-width: 0px;
    border-right-width: 8px;
    border-left-width: 8px;
    border-style: solid;
    border-color: $bubble-bgr-color transparent transparent transparent;
    position: absolute;
    top: 100%;
    left: 25%;
    content: "";
  }
}

#spiciness_scale {
  margin-top: 14px;
}

label {
  @include paddMrg(
    "margin",
    distance("quite-normal"),
    distance("zero"),
    distance("small-quite"),
    distance("zero")
  );
  text-align: center;
  display: block !important;
  color: #004da5;
  // color: rgb(48, 95, 180);
  font-weight: weight("fatter");
}

// .form-group {
.mrg-x-auto {
  margin-left: auto;
  margin-right: auto;
  // transition: all $short-time ease-out;
}

.range {
  width: 250px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.number-width {
  width: 200px;
  margin-left: auto;
  margin-right: auto;
}

.input-block {
  width: auto;
  position: relative;
  @include paddMrg("margin", 0, 10px, 10px, 10px);
  // transition: transform $rapid-time ease-out;
  // .error {
  // background-color: rgba(255, 160, 122, 0.418);
  //   border: 1px solid $error2;
  // }

  &.error {
    .form-control {
      border: 2px solid $error2;
    }
  }
  &.valid {
    .form-control {
      border: 2px solid $border-color;
    }
  }
}

.form-control {
  height: calc(1.5em + 0.5rem + 2px);
  // padding: $input-padd-y $input-padd-x;
  padding: 0.375rem 0.75rem;
  // max-width: 90%;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  margin-top: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;

  &::-ms-expand {
    background-color: transparent;
    border: 0;
  }

  &:-moz-focusring {
    color: transparent;
    text-shadow: 0 0 0 #495057;
  }

  &:focus {
    color: #495057;
    background-color: #fff;
    border-color: #80bdff;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
  }

  &::-webkit-input-placeholder {
    color: #6c757d;
    opacity: 1;
  }

  &::-moz-placeholder {
    color: #6c757d;
    opacity: 1;
  }

  &:-ms-input-placeholder {
    color: #6c757d;
    opacity: 1;
  }

  &::-ms-input-placeholder {
    color: #6c757d;
    opacity: 1;
  }

  &::placeholder {
    color: #6c757d;
    opacity: 1;
  }

  &:disabled,
  &[readonly] {
    background-color: $gray-200;
    opacity: 0.9;
  }
}

.input-cont {
  //   width: fit-content;
  overflow: hidden;
}

#slices_of_bread {
  width: 120px;
}

// .input-block.error {
//   input {
//     border: 1px solid $error2;
//   }
// }

form {
  overflow: hidden;
}
