%track {
  width: $track-width;
  height: $track-height;
  cursor: pointer;
}

%marg_auto {
  margin-left: auto;
  margin-right: auto;
}

%inline_absl {
  position: absolute;
  display: inline-block;
}

%grey_opac_full {
  color: $mid-gray1;
  opacity: 1;
}

input[type="range"] {
  -webkit-appearance: none;
  margin: $thumb-height/3 0;
  // margin: $thumb-height/3 15px;
  // width: $track-width / 1.5;
  max-width: sizes_px("five") * 50;
  // text-align: center;
  // @extend %marg_auto;

  &:focus {
    outline: none;
  }

  &::-webkit-slider-runnable-track {
    @extend %track;
    @include shadow(
      $track-shadow-size,
      $track-shadow-blur,
      $track-shadow-color
    );
    background: $track-color;
    border-radius: $track-radius;
    border: $track-border-width solid $track-border-color;
  }

  &::-webkit-slider-thumb {
    @include thumb;
    -webkit-appearance: none;
    margin-top: (
      ((-$track-border-width * 2 + $track-height) / 2) - ($thumb-height / 2)
    );
    margin-bottom: (
      ((-$track-border-width * 2 + $track-height) / 2) - ($thumb-height / 2)
    );
    margin-top: sizes_px("three") * (-2);
    margin-bottom: sizes_px("three") * (-2);
  }

  &:focus::-webkit-slider-runnable-track {
    background: lighten($track-color, $contrast);
  }

  &::-moz-range-track {
    @extend %track;
    @include shadow(
      $track-shadow-size,
      $track-shadow-blur,
      $track-shadow-color
    );
    background: $track-color;
    border-radius: $track-radius;
    border: $track-border-width solid $track-border-color;
  }
  &::-moz-range-thumb {
    @include thumb;
  }

  &::-ms-track {
    @extend %track;
    background: transparent;
    border-color: transparent;
    border-width: $thumb-width 0;
    color: transparent;
  }

  &::-ms-fill-lower {
    background: darken($track-color, $contrast);
    border: $track-border-width solid $track-border-color;
    border-radius: $track-radius * 2;
    @include shadow(
      $track-shadow-size,
      $track-shadow-blur,
      $track-shadow-color
    );
  }
  &::-ms-fill-upper {
    background: $track-color;
    border: $track-border-width solid $track-border-color;
    border-radius: $track-radius * 2;
    @include shadow(
      $track-shadow-size,
      $track-shadow-blur,
      $track-shadow-color
    );
  }
  &::-ms-thumb {
    @include thumb;
  }
  &:focus::-ms-fill-lower {
    background: $track-color;
  }
  &:focus::-ms-fill-upper {
    background: lighten($track-color, $contrast);
  }
}

.bubble {
  @extend %inline_absl;
  font-size: size("quite-normal");
  background-color: $bubble-bgr-color;
  color: $thumb-color;
  margin-top: $bubble-radius * (-2);
  padding: $bubble-radius / 2 $bubble-radius * 2;
  border-radius: $bubble-radius;
  text-align: center;
  width: $bubble-width;
  max-width: $bubble-width;

  &:after {
    @extend %inline_absl;
    width: 0;
    height: 0;
    border-top-width: $bubble-radius;
    border-bottom-width: 0;
    border-right-width: $bubble-radius * 2;
    border-left-width: $bubble-radius * 2;
    border-style: solid;
    border-color: $bubble-bgr-color transparent transparent transparent;
    top: $full;
    left: $full / 4;
    content: "";
  }
}

label {
  margin: distance("quite-normal") distance("zero") distance("small-quite")
    distance("zero");
  text-align: center;
  display: block;
  color: $label-color;
  font-weight: weight("fatter");
}

.mrg-x-auto {
  @extend %marg_auto;
}

.number-width {
  width: sizes_px("ten") * 20;
  // width: 200px;
  @extend %marg_auto;
}

.input-block {
  width: auto;
  position: relative;
  margin: 0 sizes_px("ten") sizes_px("ten") sizes_px("ten");

  &.error {
    .form-control {
      border: sizes_px("two") solid $error2;
    }
  }
  &.valid {
    .form-control {
      border: sizes_px("two") solid $border-color;
    }
  }
}

.form-control {
  height: calc(1.5em + 0.5rem + 2px);
  // height: calc(distance("big") + distance("small-quite") + sizes_px("two"));
  padding: distance("small-so") distance("quite-normal");
  // max-width: 90%;
  font-size: size("large");
  font-weight: weight("normal");
  line-height: $larger;
  color: $input-col;
  background-color: $white;
  background-clip: padding-box;
  border: sizes_px("one") solid $border-color1;
  border-radius: distance("very-small");
  margin-top: distance("very-small");
  transition: border-color $flash-time ease-in-out,
    box-shadow $flash-time ease-in-out;

  &::-ms-expand {
    background-color: transparent;
    border: 0;
  }

  &:-moz-focusring {
    color: transparent;
    // text-shadow: 0 0 0 $input-col;
    @include text_shadow(0, 0, 0, $input-col);
  }

  &:focus {
    color: $input-col;
    background-color: $white;
    border-color: $light-blue1;
    outline: 0;
    @include box_shadow(0, 0, 0, 0.2rem, rgba(0, 123, 255, 0.25));
    // box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
  }

  &::-webkit-input-placeholder {
    @extend %grey_opac_full;
  }

  &::-moz-placeholder {
    @extend %grey_opac_full;
  }

  &:-ms-input-placeholder {
    @extend %grey_opac_full;
  }

  &::-ms-input-placeholder {
    @extend %grey_opac_full;
  }

  &::placeholder {
    @extend %grey_opac_full;
  }

  &:disabled,
  &[readonly] {
    background-color: $gray-200;
    opacity: $quite_small;
  }

  // &.form-control-range {
  //   // width: sizes_px("five") * 50;
  //   text-align: center;
  //   @extend %marg_auto;
  // }

  &#spiciness_scale {
    margin-top: $track-height * 1.2;
  }

  &#slices_of_bread {
    // width: 120px;
    width: sizes_px("ten") * 12;
  }
}

// .range {
//   width: sizes_px("five") * 50;
//   text-align: center;
//   @extend %marg_auto;
// }

.input-cont {
  //   width: fit-content;
  overflow: hidden;
}

form {
  overflow: hidden;
}
