@import "./vars";
@import "./extend";
@import "./mixins";
@import "./inputs";
@import "./anims";

* {
  @extend %general_sizing;
}

html {
  height: $full_self * 1vh;
}

:root {
  --thumb-width: #{$thumb-width-no};
  --thumb-border-width: #{$thumb-border-width-no};
  --bubble-width: #{$bubble-width-no};
}

body {
  color: ghostwhite;
  height: $full;
  background-image: url("../img/restaurant_icons.png");
  @extend %bgr-center-cover;
}

.container {
  background-color: rgba(255, 255, 240, 0.8);

  .title {
    text-align: $center;
    font-variant-caps: small-caps;
    color: $title-bgr-col;
    letter-spacing: sizes_px("one") * 1.3;
    padding-top: sizes_px("ten") * 3;
    padding-bottom: sizes_px("ten");
    transition: all $short-time ease-out;
  }

  .dishes {
    width: $full;
    border-top: $dishes-border-width solid ivory;
    border-bottom: $dishes-border-width solid ivory;
    background-image: url("../img/veg4.jpg");
    @extend %bgr-center-cover;

    #dishes-form {
      text-align: center;
      min-width: $half * 1.1;
      width: $half * 1.1;
      margin: distance("normal");
      background-color: rgba(255, 255, 240, 0.5);
      border-radius: sizes_px("five") * 3;
      backdrop-filter: blur(sizes_px("ten"));

      .reply {
        font-weight: weight("fatter");
        font-size: size("large");
        color: darken($title-bgr-col, 10%);
        margin-top: distance("small");
        margin-bottom: distance("small-quite");
      }
    }

    .image {
      min-width: $full * 0.4;
      width: $full * 0.4;
      width: auto;
      padding-left: distance("normal");
      padding-right: distance("normal");
      margin-bottom: distance("quite-normal");
      @extend %flex_wrap;
      @extend %flex_center;
      @extend %over_hidden;

      border-radius: sizes_px("ten");
      background-color: rgba(255, 255, 240, 0.5);
      backdrop-filter: blur(sizes_px("ten"));
      -webkit-backdrop-filter: blur(sizes_px("ten"));

      .answer {
        text-align: $center;
        border-radius: sizes_px("ten");
        padding: sizes_px("ten") * 2;
        transform-origin: $half $half;
        transform: perspective(sizes_px("ten") * 50);
        transform-style: preserve-3d;
      }

      .photo {
        transform-origin: $half 0%;
        border-radius: sizes_px("ten");
        width: $full;
        height: auto;
        border: sizes_px("seven") solid rgba(0, 95, 133, 0.75);
        border-radius: sizes_px("two") * 4;
      }

      .hide-photo {
        transform-origin: $half $full;
        animation-name: anim_out;
        animation-duration: $fast-time;
        visibility: hidden;
      }

      .welcome {
        font-weight: weight("bold");
        letter-spacing: $large-letter-spacing;
        font-size: size("normal") * 1.35;
        color: lighten($label-color, 10%);
      }
    }
  }
}

.hidden {
  visibility: hidden;
}

.visible {
  visibility: visible;
}

.flex {
  @extend %flex_wrap;
}

.justify-center {
  justify-content: $center;
}

.align-center {
  align-items: $center;
}

.align-start {
  align-items: flex-start;
}

button {
  color: white;
  border: 0;
  background-color: #009500;
  padding: sizes_px("three") * 2;
  margin: sizes_px("ten");
  min-width: sizes_px("ten") * 8;
  border-radius: sizes_px("two") * 2;

  &:disabled {
    opacity: $bit_small;
    background-color: $darkgrey;
  }
}

.buttons {
  @extend %over_hidden;
}

.hanging {
  animation: hanging $normal-time * 1.75 linear forwards;
}

.row {
  width: $full;
}

.center {
  text-align: center;
}

.fine {
  @extend %fatter-normal;
  color: lighten($label-color, $full / 10);
}

.bad {
  @extend %fatter-normal;
  color: $error1;
}

.wait {
  @extend %fatter-normal;
  color: $black;
}

.invalid-feedback {
  width: $full;
  font-size: size("small-quite");
  color: $error2;
  text-align: $center;
  margin-left: auto;
  margin-right: auto;
  margin-top: distance("very-small");
  margin-bottom: distance("small-quite") 0.5rem;
  padding-right: distance("normal") / 10;
  padding-left: distance("normal") / 10;
  font-weight: weight("bold");
  display: block;
  border-radius: distance("very-small");
}

.warning {
  color: orange;
}

.hide-upper {
  transform: translateY($transf_full * (-1));
  visibility: hidden;
}

.hide-up {
  transform: translateY(-$transf_full_quarter);
}

.hide-down {
  transform: translateY($half * 3);
}

.hide-right {
  transform: translateX($transf_full_quarter);
}

.hide-left {
  transform: translateX(-$transf_full_quarter);
}

.narrow {
  width: $half;
}

.narrow-70 {
  width: $full * 0.7;
}

.no-display {
  display: none;
}

.trans {
  transition: transform $rapid-time ease-out;
}

@media all and (min-width: 1125px) {
  #dishes-form {
    width: $half;
  }
}

@media all and (max-width: 976px) {
  .answer {
    margin: distance("quite-normal") auto distance("quite-normal") auto;
    padding: 0;
  }

  .image {
    width: $full * 0.7;
  }
  #dishes-form {
    width: $full * 0.7;
    margin-left: distance("normal");
    margin-right: distance("normal");
  }
}

@media all and (max-width: 700px) {
  #dishes-form {
    width: $full * 0.8 !important;
  }
  .image {
    width: $full * 0.8;
  }

  .narrow-70 {
    width: auto;
  }
}

@media all and (max-width: 600px) {
  .narrow {
    width: $full;
  }

  .image {
    width: $full * 0.9;
  }

  #dishes-form {
    width: $full * 0.9 !important;
  }
  .form-control {
    font-size: size("normal");
  }
}

@media all and (max-width: 420px) {
  .title {
    letter-spacing: $letter-spacing;
    font-size: size("bit-larger");
  }
  .form-control {
    font-size: size("quite-normal");
  }
}

@media all and (max-width: 372px) {
  .form-control {
    font-size: size("small-quite");
  }
}
